* {
    padding: 0;
    margin: 0;
}

html {
    font-size: calc(60% + 0.8vmin);
}

body {
    width: 100%;
    height: 100%;
    background: black;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(60% + 0.8vmin);
}

main {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

main #title {
    margin-left: 40%;
    font-size: 48px;
    text-decoration: underline;
    margin-bottom: 1rem;
}

main .circle {
    width: 180px;
    height: 180px;
    border-radius: 27% 73% 100% 0% / 46% 12% 88% 54% ;
    background-image: linear-gradient(#000080, #0000FF, #191970);
    box-shadow: 10px, 5px, 5px, black;
    margin-top: 1rem;
    box-shadow: 0 8px 12px 0 rgba( 211, 211, 211, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    margin-left: 45%;
}

#contact {
    padding: 2rem;
    border-radius: 10px;
    border-color: transparent;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #000080;
    color: white;
}

#card {
    display: none;
    position: fixed;
    bottom: 50%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: groove 3px white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}

#ct:hover {
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
}

#contact:hover {
    transform: translateY(15px);
    background-color: orangered;
}

main .return {
    background-color: black;
    width: 100px;
    padding: 1rem;
    border-radius: 8px;
    outline: solid 1.5px white;
    position: relative;
    margin-left: 30%;
}

main #voltar {
    width: 80px;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #000080;
    color: white;
    cursor: pointer;
    border-color: transparent;
}

main #voltar:hover {
    transform: translateX(-40px) scale(1.1);
    background-color: orangered;
}

.flip_card {
    display: flex;
    border: groove white 2px;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 1rem;
}

.front {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front h4 {
    font-size: 35px;
}

.front p {
    font-size: 20px;
}

.back img {
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 1rem;
}

.back img:hover {
    box-shadow: 10px 10px 10px black;
    background-color: white;
}